<div class="boletines-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name"
  ></app-headerlogin>
  <app-datosboletin
    rootClassName="datosboletin-root-class-name"
  ></app-datosboletin>
  <div class="boletines-container01">
    <div class="boletines-container02">
      <div class="boletines-container03"><span>1º trimestre</span></div>
      <div class="boletines-container04"><span>2º trimestre</span></div>
      <div class="boletines-container05"><span>3º trimestre</span></div>
    </div>
    <div class="boletines-container06">
      <div class="boletines-container07">
        <div class="boletines-container08"><span>Text</span></div>
        <div class="boletines-container09"></div>
        <div class="boletines-container10"></div>
        <div class="boletines-container11"></div>
      </div>
      <div class="boletines-container12">
        <div class="boletines-container13"><span>Text</span></div>
        <div class="boletines-container14"></div>
        <div class="boletines-container15"></div>
        <div class="boletines-container16"></div>
      </div>
      <div class="boletines-container17">
        <div class="boletines-container18"><span>Text</span></div>
        <div class="boletines-container19"></div>
        <div class="boletines-container20"></div>
        <div class="boletines-container21"></div>
      </div>
      <div class="boletines-container22">
        <div class="boletines-container23"><span>Text</span></div>
        <div class="boletines-container24"></div>
        <div class="boletines-container25"></div>
        <div class="boletines-container26"></div>
      </div>
      <div class="boletines-container27">
        <div class="boletines-container28"><span>Text</span></div>
        <div class="boletines-container29"></div>
        <div class="boletines-container30"></div>
        <div class="boletines-container31"></div>
      </div>
      <div class="boletines-container32">
        <div class="boletines-container33"><span>Text</span></div>
        <div class="boletines-container34"></div>
        <div class="boletines-container35"></div>
        <div class="boletines-container36"></div>
      </div>
      <div class="boletines-container37">
        <div class="boletines-container38"><span>Text</span></div>
        <div class="boletines-container39"></div>
        <div class="boletines-container40"></div>
        <div class="boletines-container41"></div>
      </div>
      <div class="boletines-container42">
        <div class="boletines-container43"><span>Text</span></div>
        <div class="boletines-container44"></div>
        <div class="boletines-container45"></div>
        <div class="boletines-container46"></div>
      </div>
      <div class="boletines-container47">
        <div class="boletines-container48"><span>Text</span></div>
        <div class="boletines-container49"></div>
        <div class="boletines-container50"></div>
        <div class="boletines-container51"></div>
      </div>
      <div class="boletines-container52">
        <div class="boletines-container53"><span>Text</span></div>
        <div class="boletines-container54"></div>
        <div class="boletines-container55"></div>
        <div class="boletines-container56"></div>
      </div>
      <div class="boletines-container57">
        <div class="boletines-container58"><span>Text</span></div>
        <div class="boletines-container59"></div>
        <div class="boletines-container60"></div>
        <div class="boletines-container61"></div>
      </div>
      <div class="boletines-container62">
        <div class="boletines-container63"><span>Text</span></div>
        <div class="boletines-container64"></div>
        <div class="boletines-container65"></div>
        <div class="boletines-container66"></div>
      </div>
    </div>
  </div>
</div>
