<div class="incidencias-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name13"
  ></app-headerlogin>
  <div class="incidencias-container1">
    <span class="incidencias-text">Incidencias del curso:</span>
  </div>
  <div class="incidencias-container2">
    <div class="incidencias-anuncio">
      <div class="incidencias-container3">
        <div class="incidencias-container4">
          <span>Estefanía Morales de la Hoz:</span>
        </div>
        <div class="incidencias-container5">
          <span>
            El alumno no respeta las tareas marcadas para hacer en casa así como
            los plazos de entrega pertinentes.
          </span>
        </div>
        <div class="incidencias-container6">
          <span>Lengua castellana y literatura</span>
        </div>
        <div class="incidencias-container7">
          <button type="button" class="incidencias-button button">
            Justificar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
