<div class="nuevochat-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name8"
  ></app-headerlogin>
  <div class="nuevochat-container1">
    <div class="nuevochat-container2">
      <div class="nuevochat-container3">
        <button type="button" class="nuevochat-button button">🔍</button>
      </div>
      <input
        type="text"
        placeholder="Buscar por nombre"
        class="nuevochat-textinput input"
      />
    </div>
    <div class="nuevochat-container4">
      <app-usuariochat
        rootClassName="usuariochat-root-class-name12"
      ></app-usuariochat>
      <a routerLink="/chat" class="nuevochat-navlink">
        <app-usuariochat
          rootClassName="usuariochat-root-class-name16"
          class="nuevochat-component2"
        ></app-usuariochat>
      </a>
      <app-usuariochat
        rootClassName="usuariochat-root-class-name15"
      ></app-usuariochat>
      <app-usuariochat
        rootClassName="usuariochat-root-class-name14"
      ></app-usuariochat>
      <app-usuariochat
        rootClassName="usuariochat-root-class-name13"
      ></app-usuariochat>
    </div>
  </div>
</div>
