<div class="recordatorios-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name9"
  ></app-headerlogin>
  <div class="recordatorios-container1">
    <span class="recordatorios-text">Lista de recordatorios:</span>
  </div>
  <div class="recordatorios-container2">
    <app-recordatorio></app-recordatorio>
    <app-recordatorio></app-recordatorio>
    <app-recordatorio></app-recordatorio>
    <app-recordatorio></app-recordatorio>
  </div>
  <div class="recordatorios-container3">
    <a routerLink="/nuevorecordatorio" class="recordatorios-navlink button">
      Nuevo recordatorio
    </a>
  </div>
</div>
