<div class="horario-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name12"
  ></app-headerlogin>
  <div class="horario-container01">
    <div class="horario-container02">
      <div class="horario-container03">
        <svg viewBox="0 0 1024 1024" class="horario-icon">
          <path d="M86 896v-298l640-86-640-86v-298l896 384z"></path>
        </svg>
        <div class="horario-container04">
          <span class="horario-text">Horario</span>
        </div>
        <svg viewBox="0 0 1024 1024" class="horario-icon2">
          <path d="M86 896v-298l640-86-640-86v-298l896 384z"></path>
        </svg>
      </div>
    </div>
    <div class="horario-container05">
      <div class="horario-container06">
        <div class="horario-container07"></div>
        <div class="horario-container08"><span>Lunes</span></div>
        <div class="horario-container09"><span>Martes</span></div>
        <div class="horario-container10"><span>Miércoles</span></div>
        <div class="horario-container11"><span>Jueves</span></div>
        <div class="horario-container12"><span>Viernes</span></div>
      </div>
      <div class="horario-container13">
        <div class="horario-container14"><span>07:55-08:50</span></div>
        <div class="horario-container15">
          <span class="horario-text07">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container16">
          <span class="horario-text08">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container17">
          <span class="horario-text09">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container18">
          <span class="horario-text10">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container19">
          <span class="horario-text11">Lengua Castellana y Literatura</span>
        </div>
      </div>
      <div class="horario-container20">
        <div class="horario-container21"><span>08:50-09:45</span></div>
        <div class="horario-container22">
          <span class="horario-text13">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container23">
          <span class="horario-text14">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container24">
          <span class="horario-text15">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container25">
          <span class="horario-text16">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container26">
          <span class="horario-text17">Lengua Castellana y Literatura</span>
        </div>
      </div>
      <div class="horario-container27">
        <div class="horario-container28"><span>09:45-10:40</span></div>
        <div class="horario-container29">
          <span class="horario-text19">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container30">
          <span class="horario-text20">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container31">
          <span class="horario-text21">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container32">
          <span class="horario-text22">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container33">
          <span class="horario-text23">Lengua Castellana y Literatura</span>
        </div>
      </div>
      <div class="horario-container34">
        <div class="horario-container35"><span>10:40-11:10</span></div>
        <div class="horario-container36">
          <span class="horario-text25">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container37">
          <span class="horario-text26">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container38">
          <span class="horario-text27">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container39">
          <span class="horario-text28">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container40">
          <span class="horario-text29">Lengua Castellana y Literatura</span>
        </div>
      </div>
      <div class="horario-container41">
        <div class="horario-container42"><span>11:10-12:05</span></div>
        <div class="horario-container43">
          <span class="horario-text31">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container44">
          <span class="horario-text32">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container45">
          <span class="horario-text33">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container46">
          <span class="horario-text34">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container47">
          <span class="horario-text35">Lengua Castellana y Literatura</span>
        </div>
      </div>
      <div class="horario-container48">
        <div class="horario-container49"><span>12:05-13:00</span></div>
        <div class="horario-container50">
          <span class="horario-text37">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container51">
          <span class="horario-text38">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container52">
          <span class="horario-text39">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container53">
          <span class="horario-text40">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container54">
          <span class="horario-text41">Lengua Castellana y Literatura</span>
        </div>
      </div>
      <div class="horario-container55">
        <div class="horario-container56"><span>13:00-13:55</span></div>
        <div class="horario-container57">
          <span class="horario-text43">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container58">
          <span class="horario-text44">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container59">
          <span class="horario-text45">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container60">
          <span class="horario-text46">Lengua Castellana y Literatura</span>
        </div>
        <div class="horario-container61">
          <span class="horario-text47">Lengua Castellana y Literatura</span>
        </div>
      </div>
    </div>
  </div>
</div>
