<div class="plantillahorario-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name16"
  ></app-headerlogin>
  <div class="plantillahorario-horario">
    <div class="plantillahorario-container01">
      <div class="plantillahorario-container02">
        <div class="plantillahorario-container03">
          <span class="plantillahorario-text">1ºA</span>
        </div>
      </div>
    </div>
    <div class="plantillahorario-container04">
      <div class="plantillahorario-container05">
        <div class="plantillahorario-container06"></div>
        <div class="plantillahorario-container07"><span>Lunes</span></div>
        <div class="plantillahorario-container08"><span>Martes</span></div>
        <div class="plantillahorario-container09"><span>Miércoles</span></div>
        <div class="plantillahorario-container10"><span>Jueves</span></div>
        <div class="plantillahorario-container11"><span>Viernes</span></div>
      </div>
      <div class="plantillahorario-container12">
        <div class="plantillahorario-container13"><span>07:55-08:50</span></div>
        <div class="plantillahorario-container14">
          <label id="L8" for="L8">Label</label>
        </div>
        <div class="plantillahorario-container15">
          <label id="M8">Label</label>
        </div>
        <div class="plantillahorario-container16">
          <label id="X8">Label</label>
        </div>
        <div class="plantillahorario-container17">
          <label id="J8">Label</label>
        </div>
        <div class="plantillahorario-container18">
          <label id="V8">Label</label>
        </div>
      </div>
      <div class="plantillahorario-container19">
        <div class="plantillahorario-container20"><span>08:50-09:45</span></div>
        <div class="plantillahorario-container21">
          <label id="L9">Label</label>
        </div>
        <div class="plantillahorario-container22">
          <label id="M9">Label</label>
        </div>
        <div class="plantillahorario-container23">
          <label id="X9">Label</label>
        </div>
        <div class="plantillahorario-container24">
          <label id="J9">Label</label>
        </div>
        <div class="plantillahorario-container25">
          <label id="V9">Label</label>
        </div>
      </div>
      <div class="plantillahorario-container26">
        <div class="plantillahorario-container27"><span>09:45-10:40</span></div>
        <div class="plantillahorario-container28">
          <label id="L10">Label</label>
        </div>
        <div class="plantillahorario-container29">
          <label id="M10">Label</label>
        </div>
        <div class="plantillahorario-container30">
          <label id="X10">Label</label>
        </div>
        <div class="plantillahorario-container31">
          <label id="J10">Label</label>
        </div>
        <div class="plantillahorario-container32">
          <label id="V10">Label</label>
        </div>
      </div>
      <div class="plantillahorario-container33">
        <div class="plantillahorario-container34"><span>10:40-11:10</span></div>
        <div class="plantillahorario-container35">
          <label id="L11">Label</label>
        </div>
        <div class="plantillahorario-container36">
          <label id="M11">Label</label>
        </div>
        <div class="plantillahorario-container37">
          <label id="X11">Label</label>
        </div>
        <div class="plantillahorario-container38">
          <label id="J11">Label</label>
        </div>
        <div class="plantillahorario-container39">
          <label id="V11">Label</label>
        </div>
      </div>
      <div class="plantillahorario-container40">
        <div class="plantillahorario-container41"><span>11:10-12:05</span></div>
        <div class="plantillahorario-container42">
          <label id="L12">Label</label>
        </div>
        <div class="plantillahorario-container43">
          <label id="M12">Label</label>
        </div>
        <div class="plantillahorario-container44">
          <label id="X12">Label</label>
        </div>
        <div class="plantillahorario-container45">
          <label id="J12">Label</label>
        </div>
        <div class="plantillahorario-container46">
          <label id="V12">Label</label>
        </div>
      </div>
      <div class="plantillahorario-container47">
        <div class="plantillahorario-container48"><span>12:05-13:00</span></div>
        <div class="plantillahorario-container49">
          <label id="L13">Label</label>
        </div>
        <div class="plantillahorario-container50">
          <label id="M13">Label</label>
        </div>
        <div class="plantillahorario-container51">
          <label id="X13">Label</label>
        </div>
        <div class="plantillahorario-container52">
          <label id="J13">Label</label>
        </div>
        <div class="plantillahorario-container53">
          <label id="V13">Label</label>
        </div>
      </div>
      <div class="plantillahorario-container54">
        <div class="plantillahorario-container55"><span>13:00-13:55</span></div>
        <div class="plantillahorario-container56">
          <label id="L14">Label</label>
        </div>
        <div class="plantillahorario-container57">
          <label id="M14">Label</label>
        </div>
        <div class="plantillahorario-container58">
          <label id="X14">Label</label>
        </div>
        <div class="plantillahorario-container59">
          <label id="J14">Label</label>
        </div>
        <div class="plantillahorario-container60">
          <label id="V14">Label</label>
        </div>
      </div>
    </div>
  </div>
</div>
