<div class="buscarpersonal-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name21"
  ></app-headerlogin>
  <div class="buscarpersonal-container1">
    <div class="buscarpersonal-container2">
      <div class="buscarpersonal-container3">
        <button type="button" class="buscarpersonal-button button">🔍</button>
      </div>
      <input
        type="text"
        placeholder="Buscar por nombre"
        class="buscarpersonal-textinput input"
      />
    </div>
    <div class="buscarpersonal-container4">
      <app-usuariochat
        rootClassName="usuariochat-root-class-name17"
      ></app-usuariochat>
      <a routerLink="/altaempleado" class="buscarpersonal-navlink">
        <app-usuariochat
          rootClassName="usuariochat-root-class-name18"
          class="buscarpersonal-component2"
        ></app-usuariochat>
      </a>
      <app-usuariochat
        rootClassName="usuariochat-root-class-name19"
      ></app-usuariochat>
      <app-usuariochat
        rootClassName="usuariochat-root-class-name20"
      ></app-usuariochat>
      <app-usuariochat
        rootClassName="usuariochat-root-class-name21"
      ></app-usuariochat>
    </div>
  </div>
</div>
