<div class="mainpadres-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name6"
  ></app-headerlogin>
  <app-userwelcome
    rootClassName="userwelcome-root-class-name"
  ></app-userwelcome>
  <div class="mainpadres-container1">
    <select class="mainpadres-select">
      <option value="Option 1" selected>Leticia Santana</option>
      <option value="Option 2">
        Alexander Santana
        <span [innerHTML]="raw3yoq"></span>
      </option>
    </select>
  </div>
  <app-menualupadres
    rootClassName="menualupadres-root-class-name"
  ></app-menualupadres>
</div>
