<div class="altaempleado-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name20"
  ></app-headerlogin>
  <div class="altaempleado-container01">
    <span class="altaempleado-text">Datos del empleado:</span>
  </div>
  <div class="altaempleado-container02">
    <div class="altaempleado-container03">
      <span class="altaempleado-text01">Profesor/a</span>
      <input type="radio" name="radio" class="altaempleado-radiobutton" />
      <span class="altaempleado-text02">Conserjería</span>
      <input type="radio" name="radio" class="altaempleado-radiobutton1" />
      <span class="altaempleado-text03">Administración</span>
      <input type="radio" name="radio" class="altaempleado-radiobutton2" />
      <span class="altaempleado-text04">Jefatura</span>
      <input type="radio" name="radio" class="altaempleado-radiobutton3" />
    </div>
  </div>
  <div class="altaempleado-container04">
    <div class="altaempleado-container05">
      <div class="altaempleado-container06">
        <input
          type="text"
          placeholder="Nombre completo"
          class="altaempleado-textinput input"
        />
      </div>
      <div class="altaempleado-container07">
        <input
          type="text"
          placeholder="DNI"
          class="altaempleado-textinput01 input"
        />
      </div>
      <div class="altaempleado-container08">
        <input
          type="text"
          placeholder="Fecha de nacimiento"
          class="altaempleado-textinput02 input"
        />
      </div>
    </div>
    <div class="altaempleado-container09">
      <div class="altaempleado-container10">
        <input
          type="text"
          placeholder="Domicilio"
          class="altaempleado-textinput03 input"
        />
      </div>
      <div class="altaempleado-container11">
        <input
          type="text"
          placeholder="Municipio"
          class="altaempleado-textinput04 input"
        />
      </div>
      <div class="altaempleado-container12">
        <input
          type="text"
          placeholder="C. Postal"
          class="altaempleado-textinput05 input"
        />
      </div>
    </div>
    <div class="altaempleado-container13">
      <div class="altaempleado-container14">
        <input
          type="text"
          placeholder="Tlf de contacto"
          class="altaempleado-textinput06 input"
        />
      </div>
      <div class="altaempleado-container15">
        <input
          type="text"
          placeholder="Contraseña"
          class="altaempleado-textinput07 input"
        />
      </div>
      <div class="altaempleado-container16">
        <input
          type="text"
          placeholder="Email"
          class="altaempleado-textinput08 input"
        />
      </div>
      <div class="altaempleado-container17">
        <input
          type="text"
          placeholder="Último curso trabajado"
          class="altaempleado-textinput09 input"
        />
      </div>
    </div>
    <div class="altaempleado-container18">
      <div class="altaempleado-container19">
        <input
          type="text"
          placeholder="Último centro de enseñanza"
          class="altaempleado-textinput10 input"
        />
      </div>
      <div class="altaempleado-container20">
        <input
          type="text"
          placeholder="Provincia"
          class="altaempleado-textinput11 input"
        />
      </div>
      <div class="altaempleado-container21">
        <input
          type="text"
          placeholder="Departamento"
          class="altaempleado-textinput12 input"
        />
      </div>
    </div>
  </div>
  <div class="altaempleado-container22">
    <div class="altaempleado-container23">
      <span class="altaempleado-text05">Grupos asignados:</span>
    </div>
    <div class="altaempleado-container24">
      <div class="altaempleado-container25">
        <span class="altaempleado-text06">1º ESO: </span>
      </div>
      <div class="altaempleado-container26">
        <span class="altaempleado-text07">A</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox" />
      </div>
      <div class="altaempleado-container27">
        <span class="altaempleado-text08">B</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox01" />
      </div>
      <div class="altaempleado-container28">
        <span class="altaempleado-text09">C</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox02" />
      </div>
      <div class="altaempleado-container29">
        <span class="altaempleado-text10">D</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox03" />
      </div>
    </div>
    <div class="altaempleado-container30">
      <div class="altaempleado-container31">
        <span class="altaempleado-text11">2º ESO: </span>
      </div>
      <div class="altaempleado-container32">
        <span class="altaempleado-text12">A</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox04" />
      </div>
      <div class="altaempleado-container33">
        <span class="altaempleado-text13">B</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox05" />
      </div>
      <div class="altaempleado-container34">
        <span class="altaempleado-text14">C</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox06" />
      </div>
      <div class="altaempleado-container35">
        <span class="altaempleado-text15">D</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox07" />
      </div>
    </div>
    <div class="altaempleado-container36">
      <div class="altaempleado-container37">
        <span class="altaempleado-text16">3º ESO: </span>
      </div>
      <div class="altaempleado-container38">
        <span class="altaempleado-text17">A</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox08" />
      </div>
      <div class="altaempleado-container39">
        <span class="altaempleado-text18">B</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox09" />
      </div>
      <div class="altaempleado-container40">
        <span class="altaempleado-text19">C</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox10" />
      </div>
    </div>
    <div class="altaempleado-container41">
      <div class="altaempleado-container42">
        <span class="altaempleado-text20">4º ESO: </span>
      </div>
      <div class="altaempleado-container43">
        <span class="altaempleado-text21">A</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox11" />
      </div>
      <div class="altaempleado-container44">
        <span class="altaempleado-text22">B</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox12" />
      </div>
      <div class="altaempleado-container45">
        <span class="altaempleado-text23">C</span>
        <input type="checkbox" checked="true" class="altaempleado-checkbox13" />
      </div>
    </div>
  </div>
  <div class="altaempleado-container46">
    <a routerLink="/mainadmin" class="altaempleado-navlink button">
      Cambiar contraseña
    </a>
    <a routerLink="/mainadmin" class="altaempleado-navlink1 button">
      Dar de baja al empleado
    </a>
    <a routerLink="/mainadmin" class="altaempleado-navlink2 button">
      Guardar cambios
    </a>
  </div>
</div>
