<div class="mainadmin-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name2"
  ></app-headerlogin>
  <app-userwelcome
    rootClassName="userwelcome-root-class-name3"
  ></app-userwelcome>
  <div class="mainadmin-container01">
    <div class="mainadmin-container02">
      <div class="mainadmin-container03">
        <div class="mainadmin-container04">
          <div class="mainadmin-container05">
            <div class="mainadmin-container06">
              <span class="mainadmin-text">Chat:</span>
            </div>
            <a routerLink="/chat" class="mainadmin-navlink">
              <span>-Ver chats actuales</span>
              <br />
            </a>
            <a routerLink="/nuevochat" class="mainadmin-navlink1">
              <span>-Nuevo chat</span>
              <br />
            </a>
          </div>
        </div>
        <div class="mainadmin-container07">
          <span class="mainadmin-text05">Cursos:</span>
          <span class="mainadmin-text06">
            <span>-Configurar horarios de</span>
            <br />
            <span>alumnado</span>
          </span>
        </div>
      </div>
      <div class="mainadmin-container08">
        <div class="mainadmin-container09">
          <div class="mainadmin-container10">
            <span class="mainadmin-text10">Profesorado:</span>
            <a routerLink="/altaempleado" class="mainadmin-navlink2">
              -Dar de alta a un empleado
            </a>
            <a routerLink="/buscarpersonal" class="mainadmin-navlink3">
              -Editar información de un empleado
            </a>
          </div>
        </div>
        <div class="mainadmin-container11">
          <span class="mainadmin-text11">Personal:</span>
          <a routerLink="/recordatorios" class="mainadmin-navlink4">
            -Ver lista de recordatorios
          </a>
          <a routerLink="/altaempleado" class="mainadmin-navlink5">
            -Mi perfil
          </a>
        </div>
      </div>
      <div class="mainadmin-container12">
        <div class="mainadmin-container13">
          <div class="mainadmin-container14">
            <span class="mainadmin-text12">Alumnado:</span>
            <a routerLink="/altaalumno" class="mainadmin-navlink6">
              -Dar de alta a un alumno
            </a>
            <a routerLink="/buscaralumno" class="mainadmin-navlink7">
              <span>
                -Editar información de
                <span [innerHTML]="raw55yj"></span>
              </span>
              <br />
              <span>alumno</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
