<div class="buscaralumno-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name19"
  ></app-headerlogin>
  <div class="buscaralumno-container1">
    <div class="buscaralumno-container2">
      <div class="buscaralumno-container3">
        <button type="button" class="buscaralumno-button button">🔍</button>
      </div>
      <input
        type="text"
        placeholder="Buscar por nombre"
        class="buscaralumno-textinput input"
      />
    </div>
    <div class="buscaralumno-container4">
      <a routerLink="/altaalumno">
        <app-usuarioalumno
          rootClassName="usuarioalumno-root-class-name"
          class="buscaralumno-component1"
        ></app-usuarioalumno>
      </a>
      <app-usuarioalumno
        rootClassName="usuarioalumno-root-class-name3"
      ></app-usuarioalumno>
      <app-usuarioalumno
        rootClassName="usuarioalumno-root-class-name2"
      ></app-usuarioalumno>
      <app-usuarioalumno
        rootClassName="usuarioalumno-root-class-name1"
      ></app-usuarioalumno>
      <app-usuarioalumno
        rootClassName="usuarioalumno-root-class-name4"
      ></app-usuarioalumno>
    </div>
  </div>
</div>
