<div class="cursos-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name23"
  ></app-headerlogin>
  <div class="cursos-container1">
    <div class="cursos-container2">
      <span class="cursos-text">1º ESO C:</span>
    </div>
    <div class="cursos-container3">
      <button type="button" class="cursos-button button">
        Añadir anuncio al tablón
      </button>
    </div>
  </div>
  <div class="cursos-container4">
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
    <app-alumnocurso></app-alumnocurso>
  </div>
</div>
