<div class="tablonanuncios-container">
  <app-headerlogin
    rootClassName="headerlogin-root-class-name10"
  ></app-headerlogin>
  <div class="tablonanuncios-container1">
    <span class="tablonanuncios-text">Últimas publicaciones: </span>
  </div>
  <div class="tablonanuncios-container2">
    <app-anuncio></app-anuncio>
    <app-anuncio></app-anuncio>
    <app-anuncio></app-anuncio>
    <app-anuncio></app-anuncio>
  </div>
  <div class="tablonanuncios-container3">
    <a routerLink="/nuevorecordatorio" class="tablonanuncios-navlink button">
      Nuevo anuncio
    </a>
  </div>
</div>
